.navbarContainer {
    height: 4rem;
    width: 100%;
}

.navbar {
    height: 4rem;
    background-color: black;
    color: white;
    width: 100%;
    position: absolute;
    top: 0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0.5rem 1rem;
}

.badge {
    vertical-align: unset !important;
}

.navItem {
    margin: 0rem 0.5rem;
    color: white;
}

.active {
    color: orange !important;
}

.mainNavItem {
    color: white;
}